
Alquid/.idea/workspace.xml
Alquid/.idea/libraries/Gradle__android_android_29.xml
Alquid/.idea/workspace.xml
Alquid/.gradle/5.4.1/executionHistory/executionHistory.bin
Alquid/.gradle/5.4.1/fileHashes/fileHashes.bin
Alquid/.gradle/buildOutputCleanup/buildOutputCleanup.lock
Alquid/.idea/caches/gradle_models.ser
utputFiles.bin
Alquid/.idea/libraries/Gradle__androidx_navigation_navigation_ui_2_1_0_aar.xml
Alquid/.idea/libraries/Gradle__com_google_android_gms_play_services_basement_17_0_0_aar.xml
Alquid/.idea/libraries/Gradle__com_karumi_dexter_4_2_0_aar.xml
Alquid/.idea/workspace.xml
Alquid/local.properties
